/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Source Sans Pro", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans Pro", sans-serif;
  margin: 2% 0;
  padding: 0;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
  padding-bottom: 1%;
}
h3 {
  font-size: 3rem;
  padding-bottom: 1%;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 1%;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  margin: 2% 0;
  padding: 0 2%;
}
.container .nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0 2rem;
  z-index: 2;
}
.container .nav-container .nav-left {
  width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .nav-container .nav-left span {
  color: red;
  font-size: 2.5rem;
}
.container .nav-container .nav-left i {
  font-size: 3rem;
  color: black;
}
.container .nav-container .nav-right {
  width: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.container .nav-container .nav-right a {
  font-size: 1.6rem;
  color: black;
  text-decoration: none;
  text-align: center;
}
.container .nav-container .nav-right .login {
  margin-left: 1rem;
}
.container .nav-container .nav-right button {
  margin-left: 8%;
  width: 120px;
  height: 3.2rem;
  color: white;
  background-color: #1cb495;
  border: 1px solid #169178;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
.container .nav-container .nav-right button a {
  color: white;
  font-weight: 500;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.container footer {
  width: 100%;
  margin: 2rem 0;
  padding: 0;
}
.container footer .footer-container {
  width: 100%;
  height: 80%;
  background-color: #343a40;
}
.container footer .footer-container h2 {
  margin: 0;
  color: white;
  text-align: center;
  font-weight: 100;
}
.container footer .footer-container h3 {
  margin: 0;
  text-align: center;
  color: #e2e2e2;
}
.container footer .footer-container .copyright {
  text-align: center;
}
body {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}
body .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-evenly;
  width: 100%;
}
body .container .banner-img {
  width: 100%;
  z-index: -5;
}
body .container #banner {
  width: 100%;
  height: 450px;
  background-color: #666;
  background-image: url(/img/daniel-dinuzzo-qCjolcMFaLI-unsplash.jpg);
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0.7px 4.1px -10px rgba(0, 0, 0, 0.04), 0 1.5px 10.4px -10px rgba(0, 0, 0, 0.052), 0 2.6px 21.3px -10px rgba(0, 0, 0, 0.058), 0 4.3px 43.8px -10px rgba(0, 0, 0, 0.069), 0 10px 120px -10px rgba(0, 0, 0, 0.11);
}
body .container #banner .banner-motto {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
body .container #banner .banner-motto h1 {
  font-size: 4rem;
}
body .container #banner .banner-motto .banner-button {
  margin-top: 70%;
  width: 150px;
  height: 50px;
  color: white;
  background-color: #1cb495;
  border: 1px solid #169178;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
body .container #banner .banner-motto .banner-button a {
  color: white;
  font-weight: 500;
}
body .container #banner .banner-motto .banner-button a {
  font-size: 2rem;
  text-decoration: none;
}
body .container .overspan {
  margin: 0 5%;
  width: 90%;
  height: 5rem;
  background-color: white;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  transform: translateY(-5rem);
  z-index: 1;
}
body .container .middle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
}
body .container .middle-container .middle-card-large {
  transform: translateY(-5rem);
  background-color: white;
  width: 90%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 0 4rem 2rem 4rem;
  box-shadow: 0 0.7px 4.1px -10px rgba(0, 0, 0, 0.04), 0 1.5px 10.4px -10px rgba(0, 0, 0, 0.052), 0 2.6px 21.3px -10px rgba(0, 0, 0, 0.058), 0 4.3px 43.8px -10px rgba(0, 0, 0, 0.069), 0 10px 120px -10px rgba(0, 0, 0, 0.11);
}
body .container .middle-container .middle-card-large .lead-start {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body .container .middle-container .middle-card-large .lead-start div {
  width: 48%;
  margin-right: 5%;
}
body .container .middle-container .middle-card-large .lead-start .middle-img {
  max-width: 100%;
  height: auto;
  width: 48%;
  border-radius: 1rem;
}
body .container .middle-container .middle-card-large .lead-mid {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  margin-top: 5rem;
}
body .container .middle-container .middle-card-large .lead-mid .lead-left {
  width: 48%;
  margin: 2rem 0;
  box-shadow: 0 0.7px 4.1px -10px rgba(0, 0, 0, 0.04), 0 1.5px 10.4px -10px rgba(0, 0, 0, 0.052), 0 2.6px 21.3px -10px rgba(0, 0, 0, 0.058), 0 4.3px 43.8px -10px rgba(0, 0, 0, 0.069), 0 10px 120px -10px rgba(0, 0, 0, 0.11);
  border-radius: 1rem;
}
body .container .middle-container .middle-card-large .lead-mid .lead-left h2,
body .container .middle-container .middle-card-large .lead-mid .lead-left p {
  padding: 1% 2%;
}
body .container .middle-container .middle-card-large .lead-mid .lead-left img {
  max-width: 100%;
  height: auto;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
body .container .middle-container .middle-card-large .lead-mid .lead-right {
  width: 48%;
  margin: 2rem 0;
  box-shadow: 0 0.7px 4.1px -10px rgba(0, 0, 0, 0.04), 0 1.5px 10.4px -10px rgba(0, 0, 0, 0.052), 0 2.6px 21.3px -10px rgba(0, 0, 0, 0.058), 0 4.3px 43.8px -10px rgba(0, 0, 0, 0.069), 0 10px 120px -10px rgba(0, 0, 0, 0.11);
  border-radius: 1rem;
}
body .container .middle-container .middle-card-large .lead-mid .lead-right h2,
body .container .middle-container .middle-card-large .lead-mid .lead-right p {
  padding: 1% 3%;
}
body .container .middle-container .middle-card-large .lead-mid .lead-right img {
  max-width: 100%;
  height: auto;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
body .container .lead-example {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-evenly;
  box-shadow: 0 0.7px 4.1px -10px rgba(0, 0, 0, 0.04), 0 1.5px 10.4px -10px rgba(0, 0, 0, 0.052), 0 2.6px 21.3px -10px rgba(0, 0, 0, 0.058), 0 4.3px 43.8px -10px rgba(0, 0, 0, 0.069), 0 10px 120px -10px rgba(0, 0, 0, 0.11);
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
}
body .container .lead-example .listing-cards {
  max-width: 100%;
  width: 20rem;
  border-radius: 1rem;
}
body .container .lead-example .listing-cards img {
  max-width: 100%;
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
}
body .container .lead-example .listing-cards .location-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: sapce-evenly;
}
.awesome-people-container {
  width: 100%;
  padding: 10% 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-evenly;
}
.awesome-people-container .playercards {
  width: 125px;
  height: 125px;
  border: 1px solid white;
  box-shadow: 0 0.7px 4.1px -10px rgba(0, 0, 0, 0.04), 0 1.5px 10.4px -10px rgba(0, 0, 0, 0.052), 0 2.6px 21.3px -10px rgba(0, 0, 0, 0.058), 0 4.3px 43.8px -10px rgba(0, 0, 0, 0.069), 0 10px 120px -10px rgba(0, 0, 0, 0.11);
  background-color: red;
}
