body {
  max-width: 100%;
  max-height: 100%;
  width: 100%;

  .container {
    .flex(column, space-between, space-evenly);
    width: 100%;
    // height: 100vh;

    .banner-img {
      width: 100%;
      z-index: -5;
    }
    #banner {
      width: 100%;
      height: 450px;
      // .flex(column, center, center);
      background-color: #666;
      background-image: url(/img/daniel-dinuzzo-qCjolcMFaLI-unsplash.jpg);
      background-attachment: fixed;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: @shadow;
      .banner-motto {
        color: black;
        .flex(column, center, center);
        margin-top: 5%;

        h1 {
          font-size: 4rem;
        }

        .banner-button {
          margin-top: 70%;
          .button(150px, 50px, @button-color-start);

          a {
            font-size: @buttonFont;
            text-decoration: none;
          }
        }
      }
    }

    .middle-container {
      .flex(column, center, center);
      width: 100%;
      max-width: 100%;
      // padding: 0 5%;

      .middle-card-large {
        transform: translateY(-10rem);
        background-color: white;
        width: 90%;
        height: 100rem;
        // border: 1px solid black;
        border-radius: @border-radius;
        padding: 2rem 4rem;

        box-shadow: @shadow;

        .lead-start {
          .flex(row, space-between, center);
          margin: 2rem 0;

          div {
            width: 48%;
            margin-right: 5%;
          }

          .middle-img {
            max-width: 100%;
            height: auto;
            width: 48%;
            border-radius: @border-radius;
            box-shadow: @shadow;
            border-radius: @border-radius;
          }
        }

        .lead-mid {
          width: 100%;
          .flex(row, space-between, space-between);
          margin-top: 5%;

          .lead-left {
            width: 48%;
            margin: 2rem 0;
            box-shadow: @shadow;
            border-radius: @border-radius;

            h2,
            p {
              padding: 1% 2%;
            }

            img {
              .miniCardImg(30rem);
            }
          }

          .lead-right {
            width: 48%;
            margin: 2rem 0;
            box-shadow: @shadow;
            border-radius: @border-radius;

            h2,
            p {
              padding: 1% 3%;
            }

            img {
              .miniCardImg(30rem);
            }
          }
        }
      }
    }
  }
}
