body {
  max-width: 100%;
  width: 100%;
  .container {
    .flex(column, space-between, space-evenly);
    width: 100%;
    // height: 100vh;

    .banner-img {
      width: 100%;
      z-index: -5;
    }
    #banner {
      width: 100%;
      height: 50rem;
      // .flex(column, center, center);
      background-attachment: scroll, fixed;
      background-color: #666;
      background-image: url(/img/karsten-wurth-karsten-wuerth-RybwUAJ6EMA-unsplash.jpg);
      background-position: bottom center, center center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 0px 5px 10px 4px rgb(58, 58, 58);

      .banner-motto {
        color: white;
        .flex(column, center, center);
        margin-top: 10%;

        .banner-button {
          .button(150px, 50px);
          background-color: white;

          a {
            font-size: @buttonFont;
            text-decoration: none;
            color: black;
          }
        }
      }
    }

    .middle-container {
      width: 100%;
      padding: 0 5%;

      .middle-image {

      }
    }
  }
}
