// Mixins

.flex(@dir, @justify, @align) {
  display: flex;
  flex-direction: @dir;
  justify-content: @justify;
  align-items: @align;
}

.button(@width, @height) {
  width: @width;
  height: @height;
  color: black;
  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
