// Variables

@buttonFont: 2rem;
@button-color-nav: #343a40;
@button-color-start: #1cb495;
@border-radius: 1rem;

// Nav title color

@title-color: #d20000;

// Box Shadow

@shadow: 0 0.7px 4.1px -10px rgba(0, 0, 0, 0.04),
  0 1.5px 10.4px -10px rgba(0, 0, 0, 0.052),
  0 2.6px 21.3px -10px rgba(0, 0, 0, 0.058),
  0 4.3px 43.8px -10px rgba(0, 0, 0, 0.069),
  0 10px 120px -10px rgba(0, 0, 0, 0.11);

// Mobile Vars
@desktop: ~"(max-width: 1000px)";
@tablet: ~"(max-width: 800px)";
@mobile: ~"(max-width: 500px)";
